* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  z-index: 1100;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

#header {
  background-size: cover;
  background-position: center;
  height: 75vh !important;
  width: 100vw;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.header-content h1 {
  margin: 0;
  font-size: 2.5rem;
}

.header-content p {
  font-size: 1rem;
  margin-top: 0.5rem;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  font-size: larger;
  padding: 10px 0;
  margin-bottom: 15px;
  position: static;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.footer-content ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 0.5rem 0;
}

.footer-content ul li a {
  color: #cc3030;
  text-decoration: none;
  font-size: 1.9rem;
}

/* Navbar Styling */
.container-fluid {
  background-color: hsla(200, 56%, 57%, 0.5);
  color: white;
  position: fixed;
  top: 0;
  width: calc(100% - 30%);
  z-index: 10;
  box-shadow: 10px 5px 5px rgb(67, 66, 66);
  border-radius: 15px;
}

.navbar .navbar-brand,
.navbar .nav-link {
  color: rgb(255, 255, 255) !important;
  font-weight: bold;
  font-size: large;
  transition: color 0.3s ease, transform 0.3s ease;
}

#nav-tittle {
  font-family: "Playwrite HR Lijeva", cursive;
  font-size: 25px;
  font-weight: bolder;
}

#navbarNav {
  padding-left: 500px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-item {
  display: inline-block;
  font-family: "Playwrite HR Lijeva", cursive;
  margin-right: 15px;
  padding: 3px;
  background-color: #2b2828;
  border: 2px solid #f4f1f1;
  border-radius: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.nav-item a {
  text-decoration: none;
  color: #f78b2c !important;
  font-size: 11px;
}

.nav-item:hover {
  color: #007BFF;
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

nav {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 5px 0;
}

#homeh1 {
  font-family: "Playwrite HR Lijeva", cursive;
  font-weight: bolder;
}

#homeh2 {
  font-family: "Playwrite HR Lijeva", cursive;
  font-weight: normal;
  font-size: larger;
}
