* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  z-index: 1100;

}


body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f8f9fa;
  color: #333;

}

#header {
  background-size: cover;
  background-position: center;
  height: 75vh;
  width: 100vw;
  margin-top: 40px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}





.header-content h1 {
  margin: 0;
  font-size: 2.5rem;
}

.header-content p {
  font-size: 1rem;
  margin-top: 0.5rem;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  font-size: larger;
  padding: 10px;
  padding-top: 10PX;
  margin-bottom: 15px;
  position: static;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.footer-content ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 0.5rem 0 0;
}

.footer-content ul li a {
  color: #cc3030;
  text-decoration: none;
  font-size: 1.9rem;
  position: sticky;


}

/*----navbar---*/
.container-fluid {
  background-color: hsla(200, 56%, 57%, 0.5);
  color: white;
  overflow-x: hidden;
  padding: 5px 0;
  position: fixed;
  top: 0;
  margin-right: 5px;
  width: calc(100% - 30%);
  z-index: 10;
  box-shadow: 10px 5px 5px rgb(67, 66, 66);

  border-radius: 15px;


  body {
    padding-top: 60px;
  }


}

navbar .navbar-brand,
.navbar .nav-link {
  color: rgb(255, 255, 255) !important;
  font-weight: bold;
  font-size: large;
}

#nav-tittle {
  font-family: "Playwrite HR Lijeva", cursive;
  font-size: 25px;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
}

#navbarNav {
  padding-left: 600px;
}

.nav-item {
  display: inline-block;

  font-family: "Playwrite HR Lijeva", cursive;

  margin-right: 20px;
  background-color: #2b2828;
  border: 2px solid #f4f1f1;
  border-radius: 25px;
  text-align: center;
}

.nav-item a {
  text-decoration: none;
  color: #807878;
  font-size: 10px;
  font-weight: normal;
}

.nav-item :hover {
  color: #007BFF;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#homeh1 {
  font-family: "Playwrite HR Lijeva", cursive;
  font-weight: bolder;
}

#homeh2 {
  font-family: "Playwrite HR Lijeva", cursive;
  font-weight: normal;
  font-size: larger;
}